@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%);
  --nav-background: #fff;
  --text-color: hsl(200, 15%, 8%);
  --input-text-color: hsl(0, 0%, 52%);
  --elements-background: #fff;
}

[data-theme="dark"] {
  --background: hsl(207, 26%, 17%);
  --elements-background: hsl(209, 23%, 22%);
  --text-color: #fff;
  --input-text-color: #fff;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background);
}

* {
  transition: background 0.5s;
}

input,
select,
option,
button {
  color: var(--input-text-color);
  background-color: var(--elements-background);
}

nav {
  background-color: var(--elements-background);
}

.card-container {
  background-color: var(--elements-background);
}
