@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%);
  --text-color: hsl(200, 15%, 8%);
  --input-text-color: hsl(0, 0%, 52%);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--background);
}

input,
select,
option {
  color: var(--input-text-color);
}
